.main{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    /* for left */
    .left{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    background-color:var(--off-white);
    align-items: center;
    justify-content: center;
    }
    .image_area{
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px dashed var(--blue);
    /* .inner_box{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    } */
    gap: 5px;
    }
    h3{
        font-family: "Roboto", sans-serif;   
    }
}
img[alt="image_icon"]{
width: 40px;
}